:root {
	// Font Family
	--font-family: "Space Grotesk", sans-serif;

	// Color Variables
	--deep-violet: oklch(0.203 0.075 310.432);
	--purplish-grey: oklch(0.632 0.023 313.746);
	--light-grey: oklch(0.902 0.003 308.425);
	--white: oklch(1 0 89.876);
	--red: oklch(0.676 0.212 24.811);
}
